/*-----------------------*\
  Grelha
\*-----------------------*/

.row {
  width: auto;
  overflow: hidden;
  zoom: 1;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row .col8 {
  width: 66.66666%;
  position: relative;
  min-height: 1px;
  float: left;
}

.row .col4 {
  width: 33.33333%;
  position: relative;
  min-height: 1px;
  float: left;
}


/*-----------------------*\
  Divisões
\*-----------------------*/

.divi-a {
  height: 93vh;
  -webkit-transition: height 1s;
}

.divi-a.full {
  height: 100vh;
}

.divi-b {
  height: 85vh;
}

.divi-b1 {
  height: 15vh;
}

.divi-c {
  height: 7vh;
}


/*-----------------------*\
  Modulos
\*-----------------------*/

/*
 * Tempo
 */

.weather svg {
  vertical-align: middle;
}


/*
 * Avisos
 */

.aviso > .label {
  float: left;
  height: 7vh;
  padding: 0 10px;
}

.aviso > .texto {
  margin: 0;
  overflow: hidden;
}

/*
 * Info
 */

 .info > .rotativo{
  display: inline-block;
  vertical-align: middle;
 }

/*
 * About
 */

.about > .texto {
  display: inline-block;
  vertical-align: middle;
}

.about > .qrcode {
  float: right;
}


/*
 * Video
 */

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-----------------------*\
  Util
\*-----------------------*/

.center {
  text-align: center;
}

.hide {
  display: none;
}

.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*===========================*\
 *
 *  VISUAL
 *
\*===========================*/

body {
  font-family: 'Lato', 'sans-serif';
  overflow: hidden;
}

.divi-a {
  -webkit-transform-style: preserve-3d;
  background-color: #101017;
  font-size: 2vmin;
  color: #a0a0ad;
}

.whitespace {
  height: 10vh;
}

.title {
  padding: 0 0.4em;
  margin: 0;
  line-height: 10vh;
  font-weight: 600;
}

.divi-b,
.divi-b1 {
  background-color: #1d1d26;
  color: #E9F2F9;
  border-left: 1px solid #272730;
}

.divi-c {
  background-color: #15151f;
  color: #E9F2F9;
  font-size: 2.8vh;
  line-height: 7vh;
}

.aviso > .label {
  color: #1d1d26;
}

.aviso > .texto {
  color: #a2abbe;
}

.label-green {
  background-color: #3cb258;
}

.label-purple {
  background-color: #5c65f4;
}

.label-blue {
  background-color: #00abf1;
}

.label-yellow {
  background-color: #f3cc5a;
}

.label-red {
  background-color: #e94e4c;
}

.color-green {
  color: #3cb258;
  fill: #3cb258;
}

.color-purple {
  color: #5c65f4;
  fill: #5c65f4;
}

.color-blue {
  color: #00abf1;
  fill: #00abf1;
}

.color-yellow {
  color: #f3cc5a;
  fill: #f3cc5a;
}

.color-red {
  color: #e94e4c;
  fill: #e94e4c;
}

.time h1{
  font-weight: 700;
  font-size: 10vmin;
  line-height: 1em;
  margin: 0;
}

.weather > p{
  text-align: center;
  font-size: 7vmin;
  font-weight: 300;
  margin: 0.5em;
}

.weather span {
  vertical-align: middle;
  line-height: 10vmin;
}

.weather svg {
  width: 10vmin;
  height: 10vmin;
}

.header > h1{
  width: 100%;
  font-size: 5vmin;
  color: #1d1d26;
  padding-left: 0.25em;
  padding-top: 0.15em;
  padding-bottom: 0.15em;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.info .name {
  font-size: 3vmin;
  font-weight: 300;
}

.info p {
  font-size: 2.8vmin;
  font-weight: 400;
}

.info .label {
  color: #a2abbe;
  padding-right: 0.9em;
}

.ident {
  padding: 0 10px;
}

/* abstração de tabela */
.list {
  display: table;
  width:100%;
}

.list > p {
  display: table-row;
}

.list > p > span {
  display: table-cell;
  border-bottom: 1px solid #34343c;
  padding-bottom: 0.6em;
  padding-top: 0.6em;
  text-align: left;
  line-height: 1.5em;
}

.list > p > span:not(.label) {
  font-weight: lighter;
}


hr {border: 0; border-top: 1px solid #34343c; -webkit-transform: translateZ(0);}
hr.yellow {border-top: 1px solid #f3cc5a;}
hr.green {border-top: 1px solid #3cb258;}


.about {
  padding: 0 20px;
  padding-bottom: 0.5em;
  border-top: 3px solid #e94e4c;
}
.about > p {
  font-size: 3vmin;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0.5em 0 0 0;
}
.about span {
  font-weight: 700;
  font-size: 3.5vmin;
  border-bottom: 1px solid #e94e4c;
}


/*--------------*/

.teste {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
}



.climacon_component-stroke {
  stroke-width: 0px;
  stroke: white;
}
